@import "tailwindcss";

body {
  font-family: "Cormorant Garamond", serif;
}

nav ul li {
  font-size: 15px;
  letter-spacing: 1px;
  cursor: pointer;
}

.font-luxury {
  font-family: 'Playfair Display', serif;
}

/* Hide scrollbar */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
